.navbar {
  p:first-child {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    font-family: "Craftwork Grotesk", sans-serif;

    span {
      color: #ff7c03;
    }
  }

  input {
    border: 1px solid #a0a0a0;
    border-radius: 15px;
    width: 350px;
    height: 45px;
    font-size: 16px;
    padding-left: 30px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #a0a0a0;
    }
  }

  a {
    color: #505050;
    font-weight: 300;
    font-size: 18px;
    font-family: "Craftwork Grotesk", sans-serif;
  }
}
