@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque:300,regular,500,600,700,800,900);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  /* color: #c9ff63; */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #272343 white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #272343;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3c3949;
  border-radius: 14px;
}

@font-face {
  font-family: 'Apfel Grotesk';
  src: url('../../public/fonts/ApfelGrotezk-Regular.otf');
}

@font-face {
  font-family: 'Craftwork Grotesk';
  src: url('../../public/fonts/CraftworkGrotesk-Regular.woff');
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../public/fonts/AktivGrotesk_Trial_Md.ttf');
}

html {
  background: white;
  scroll-behavior: auto;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  @apply text-black bg-white;
}

p {
  /* color: white; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
button,
li,
a {
  @apply font-n-montreal;
}
h1 {
  font-size: 50px;
  margin-block: 0px;
}

h2 {
  font-size: 40px;
  margin-block: 0px;
}

/* p {
  
  font-family: 'Craftwork Grotesk', sans-serif;
} */

.linear-gradient {
  background: -webkit-linear-gradient(white, #272343);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Aktiv Grotesk', sans-serif;
} */

.no-scrollbar {
  overflow: -moz-scrollbars-none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Edge and IE */
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit-based browsers */
}

button.black-bg {
  background: #000000;
  border-radius: 15px;
  color: #ffffff;
  padding: 13px 30px;
}

button.transparent-bg {
  background: transparent;
  border-radius: 15px;
  color: #000000;
  padding: 13px 30px;
  border: 1.5px solid #000000;
}

.bottom-fade::before {
  content: '';
  background-image: linear-gradient(to top, #272343, transparent);
  position: absolute;
  height: 100%;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
}

/* phone input */
.PhoneInputInput {
  @apply w-fit border-0 bg-transparent py-2.5 pr-[20%] text-sm shadow-none outline-none ring-0 placeholder:text-xs placeholder:text-gray-600 flex-none;
  @apply focus:ring-0 md:py-3 md:pl-4 md:pr-[15%] md:text-sm md:placeholder:text-sm lg:pr-[8.33%] lg:text-base lg:placeholder:text-base;
}

.PhoneInput {
  @apply pl-2 w-fit;
}

@media print {
  @page {
    margin: 100px 0;
  }
}
