.signup {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
}

.title,
.form,
.divider {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .title {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 5px;
  }
}

.h5:hover {
  cursor: pointer;
  color: black;
}

.left {
  width: 40%;
  position: relative;
  overflow: hidden;
  /* border-radius: 0px 40px 40px 0px; */
  background: black;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  width: calc(100% - 25px);
  height: calc(100% - 30px);
  border-radius: 20px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
