.signup {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.title, .form, .divider {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.left {
    width: 40%;
    position: relative;
    overflow: hidden;
    /* border-radius: 0px 40px 40px 0px; */
    background: black;
}

.right {
    margin-top: 70px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color {
    width: calc(100% - 25px);
    height: calc(100% - 30px);
    border-radius: 20px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}