.articleItem {
  width: 75%;
  height: 350px;
  border: 1px solid #467483;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  p {
    font-family: "Craftwork Grotesk";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    color: #467483;
    width: 90%;
    margin: auto;
  }

  @media (max-width: 650px) {
    height: 450px;
  }
}
