.header {
    width: 80%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}

.avatar {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    animation: scaleback 0.5s ease-out;
    animation-fill-mode: forwards;
}

.avatar:hover {
    cursor: pointer;
    animation: scaling 0.5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes scaling {
    0% { 
        transform: scale(1);
        border-radius: 50px;
    }
    100% { 
        transform: scale(1.1);
        border-radius: 10px;
    }
    
}

@keyframes scaleback {
    0% { 
        transform: scale(1.1);
        border-radius: 10px;
    }
    100% { 
        transform: scale(1);
        border-radius: 50px;
    }
    
}

.connected, .disconnected {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 2px solid gray;
    position: absolute;
    z-index: 5;
    right: 16px;
    bottom: 15px;
}

.connected {
    background: greenyellow;
    border: 0px;
}

.right, .left {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.right > p {
    margin: 0 10px;
}

.left > p {
    color: gray;
    margin: 0 40px;
}

@keyframes rotate {
    0%, 100% {
        rotate: -10deg;
    }
    50% {rotate: 10deg;}
}

.main {
    display: flex;
    z-index: 2;
    justify-content: space-between;
}

.hero, .secondHero {
    min-height: 700px;
    background-image: linear-gradient(
  35deg,
  hsl(224deg 100% 61%) 0%,
  hsl(252deg 80% 66%) 9%,
  hsl(276deg 63% 58%) 20%,
  hsl(331deg 78% 61%) 34%,
  hsl(5deg 81% 69%) 54%,
  hsl(17deg 91% 73%) 78%,
  hsl(27deg 100% 79%) 100%
);
    background-size: 200% 200%;
    border-radius: 20px;
    z-index: 0;
    min-width: 550px;
    position: relative;
    bottom: 110px;
    left: 18px;
    margin-top: 20px;
    animation: gradient 4s ease infinite;
}

.hero {
    background: none;
}

.secondHero {
    width: 100%;
    height: inherit;
    bottom: 0;
    left: 0;
    position: absolute;
    /* filter: blur(50px); */
}

.house {
    position: absolute;
    margin-left: -100px;
    margin-top: 70px;
    animation: rotate 5s ease-in-out infinite;
    filter: blur(1px);
}

@keyframes gradient {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

.herotext {
    z-index: 2;
    width: 50%;
    margin-top: 80px;
}

.handWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hand {
    animation: MoveUpDown 10s ease-in-out infinite;
    position: absolute;
    top: -20px;
    filter: blur(0);
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: -20px;
    }
    50% {
      top: 20px;
    }
  }